body{
    margin: 0;
    padding: 0;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer{
    margin-top: 5%;
    background-color: #2a4860;
    text-align: center;
}
.container {
    width: auto;
    height: auto;
    color: #a0a0a0;
}
li{
    padding-left: 5em;
}
.b-link{
    font-size: 1.6em;
}
.div-footer{
    color: white;
}
.predict{
    border: solid;
    color: #002f4d;
    text-align: center;
}